.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: rgba(3, 182, 252, 0.7);
  margin-bottom: 2rem;
}

.home-icon {
  color: black;
  margin-left: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: solid;
}

.cart-icon {
  color: black;
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: solid;
}

.cart-count {
  background-color: rgba(255, 255, 255, 0.751);
  font-size: 1.2rem;
  padding: 7px 8px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 15px;
}
