.navbar{
    width: 85vw;
    height: 10vh;
    overflow-y: visible;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 0 5%;
    padding: 0 1%;
    gap: 50px;
}

.navbar div{
    cursor: pointer;
}

.blue{
    color: rgb(11, 182, 255);
    font-size: 14px;
    font-weight: 600;
}
.normal{
    color: black;
}